* {
  font-family: "Nerd Font";
  font-size: 0.75rem;
}

#window,
#workspaces {
  margin: 0 2px;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 16px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  color: #7984A4;
}

#workspaces button.focused {
  color: #bf616a;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#window {
  color: #64727d;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#temperature,
#custom-hyprPicker,
#custom-launcher,
#custom-power-menu,
#custom-background,
#custom-spotify {
  padding: 0 5px;
  color: #7984A4;
  background-color: transparent;
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

#cpu {
  color: #fb958b;
}

#memory {
  color: #ebcb8b;
}

#custom-launcher,
#custom-power-menu {
  color: #6a92d7;
  margin: 0 10px;
}

#pulseaudio {
  color: #7d9bba;
}

#clock {
  color: #c8d2e0;
}

#battery {
  color: #c0caf5;
}

#bluetooth {
  color: #707d9d;
}

#bluetooth.disconnected {
  color: #f53c3c;
}

#network {
  color: #b48ead;
}

#network.disconnected {
  color: #f53c3c;
}

#temperature {
  color: #ffa000;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#custom-spotify {
  color: #66cc99;
}

#custom-background {
  color: #abb2bf;
}
