* {
  border: none;
  border-radius: 0;
  font-family: "Nerd Font";
  font-size: 12px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-powermenu {
  margin-top: 6px;
  margin-left: 12px;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 5px;
  transition: none;
  background: #2e3440;
}

#custom-changebg {
  margin-top: 6px;
  margin-right: 12px;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 5px;
  transition: none;
  background: #2e3440;
}

#mode {
  margin-top: 6px;
  margin-left: 12px;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 5px;
  transition: none;
  background: #2e3440;
}

#workspaces {
  margin-top: 6px;
  margin-left: 12px;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 5px;
  transition: none;
  background: #2e3440;
}

#workspaces button {
  transition: none;
  color: #4c566a;
  background: transparent;
  border-radius: 0px;
}

#workspaces button.occupied {
  transition: none;
  color: #a3be8c;
  background: transparent;
  font-size: 4px;
}

#workspaces button.focused {
  color: #81a1c1;
  border-bottom: 2px solid #81a1c1;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #81a1c1;
}

#temperature {
  margin-top: 6px;
  margin-left: 12px;
  /*margin-right: 12px;*/
  border-radius: 5px;
  transition: none;
  padding: 0 10px;
  color: #a3be8c;
  background: #2e3440;
}

#pulseaudio {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 5px;
  transition: none;
  padding: 0 10px;
  color: #a3be8c;
  background: #2e3440;
}

#battery {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 5px;
  transition: none;
  padding: 10px 10px;
  color: #a3be8c;
  background: #2e3440;
}

#battery.critical:not(.charging) {
  background-color: #d8dee9;
  color: #2e3440;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #d8dee9;
  }
}

#backlight {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 5px;
  transition: none;
  padding: 10px 10px;
  color: #88c0d0;
  background: #2e3440;
}

#cpu {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 5px;
  transition: none;
  padding: 10px 10px;
  color: #88c0d0;
  background: #2e3440;
}

#memory {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 5px;
  transition: none;
  padding: 10px 10px;
  color: #88c0d0;
  background: #2e3440;
}

#clock {
  margin-top: 6px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 5px;
  transition: none;
  padding: 10px 10px;
  color: #a3be8c;
  background: #2e3440;
}

#tray {
  margin-top: 6px;
  margin-right: 12px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #d8dee9;
  background: #2e3440;
}

#network {
  margin-top: 6px;
  margin-left: 12px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #d8dee9;
  background: #2e3440;
}